@model MovieVault.Domain.cinematheater

@{
    ViewBag.Title = "SeePosition";
}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
    var myCenter = new google.maps.LatLng(@Html.DisplayFor(modelItem => Model.latitude), @Html.DisplayFor(modelItem => Model.longitude));
    var marker;

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        marker = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<body>
    <h2>
        @Html.DisplayFor(model => model.name)
    </h2>
    <br />
    <div id="googleMap" style="width:800px;height:380px;"></div>
</body>